#container{
    padding:20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container button{
    padding:15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: aqua;
}
#container>div:first-child>h3{
    color: blue;
    cursor: pointer;
    
}
#container>div:nth-child(2){
   display: flex;
   gap:40px;
   padding-left: 15px;
}

@media (max-width:600px){
    #container{
        padding:30px;
    }
    #container button{
        padding:5px;
        border-radius: 5px;
        cursor: pointer;
        background-color: aqua;
    }
    #container>div:nth-child(2){
        display: flex;
        gap:10px;
     }
}