#container{
    padding:20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container button{
    padding:15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: aqua;
}
#container>div:first-child>h3{
    color: blue;
    cursor: pointer;
    
}
#container>div:nth-child(2){
   display: flex;
   gap:40px;
}